
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1471350047'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1471350047#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1471350047') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1471350047') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1471350047#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-login-account:before { content: "\e600"; }
.icon-login-password:before { content: "\e601"; }
.icon-login-token:before { content: "\e602"; }
.icon-sucess:before { content: "\e603"; }
.icon-del:before { content: "\e61b"; }
.icon-del2:before { content: "\e61b"; }
.icon-preview:before { content: "\e61c"; }
.icon-warning:before { content: "\e604"; }
.icon-insight:before { content: "\e635"; }
.icon-website:before { content: "\e629"; }
.icon-dataApplication:before { content: "\e62a"; }
.icon-adReport:before { content: "\e62b"; }
.icon-promotionReport:before { content: "\e62c"; }
.icon-siteReport:before { content: "\e62d"; }
.icon-badge:before { content: "\e623"; }
.icon-purchase:before { content: "\e626"; }
.icon-customReport:before { content: "\e62e"; }
.icon-arrdown:before { content: "\e611"; }
.icon-arrdownside:before { content: "\e638"; }
.icon-arrrightside:before { content: "\e639"; }
.icon-audience:before { content: "\e614"; }
.icon-hint:before { content: "\e636"; }
.icon-calendar:before { content: "\e625"; }
.icon-checkbox:before { content: "\e60c"; }
.icon-checkbox2:before { content: "\e60d"; }
.icon-checkbox2on:before { content: "\e60e"; }
.icon-checkboxon:before { content: "\e61e"; }
.icon-closebold:before { content: "\e612"; }
.icon-compare:before { content: "\e62f"; }
.icon-download:before { content: "\e624"; }
.icon-edit:before { content: "\e61d"; }
.icon-help:before { content: "\e60f"; }
.icon-ordermanage:before { content: "\e630"; }
.icon-pickup2:before { content: "\e610"; }
.icon-plus:before { content: "\e61f"; }
.icon-search:before { content: "\e613"; }
.icon-manage:before { content: "\e631"; }
.icon-warntriangle:before { content: "\e605"; }
.icon-report:before { content: "\e632"; }
.icon-arrright:before { content: "\e620"; }
.icon-gear:before { content: "\e615"; }
.icon-datadrilling:before { content: "\e633"; }
.icon-chart1:before { content: "\e634"; }
.icon-radiooff:before { content: "\e606"; }
.icon-radioon:before { content: "\e607"; }
.icon-tags:before { content: "\e637"; }
.icon-refresh:before { content: "\e608"; }
.icon-user1:before { content: "\e60a"; }
.icon-phone1:before { content: "\e60b"; }
.icon-email1:before { content: "\e609"; }
.icon-add:before { content: "\e616"; }
.icon-enter:before { content: "\e617"; }
.icon-openaccount:before { content: "\e618"; }
.icon-user:before { content: "\e619"; }
.icon-viewcheck:before { content: "\e61a"; }
.icon-addfolder:before { content: "\e621"; }
.icon-folder:before { content: "\e622"; }
.icon-orderempty:before { content: "\e627"; }
.icon-orderlist:before { content: "\e628"; }
