.fs(@px) {
	font-size: unit(@px / 37.5, rem);
}

.width(@px) {
	width: unit(@px / 37.5, rem);
}

.height(@px) {
	height: unit(@px / 37.5, rem);
}

.lh(@px) {
	line-height: unit(@px / 37.5, rem);
}

.mt(@px) {
	margin-top: unit(@px / 37.5, rem)
}
.mr(@px) {
	margin-right: unit(@px / 37.5, rem)
}
.ml(@px) {
	margin-left: unit(@px / 37.5, rem)
}
.mb(@px) {
	margin-bottom: unit(@px / 37.5, rem)
}
.pt(@px) {
	padding-top: unit(@px / 37.5, rem)
}
.pr(@px) {
	padding-right: unit(@px / 37.5, rem)
}
.pl(@px) {
	padding-left: unit(@px / 37.5, rem)
}
.pb(@px) {
	padding-bottom: unit(@px / 37.5, rem)
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	.fs(16);
	background-color: #fff;
}
button {
	outline-width: 0;
	border-width: 0;
}
h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}
.f-l {
	float: left;
}
.f-r {
	float: right;
}
.clear {
	clear: both;
	overflow: hidden;
}
.w-225 {
  width: 225px;
}
.w-50 {
  width: 50px;
}
.flex-1 {
 flex:1;
}
