.order-article {
  .panel-title {
    font-size: 12px;
    text-align: center;
    padding: 4px 0;
    height: 21px;
  }
  .items-inline {
    margin-top: 15px;
  }
  .panel-body {
    position: relative;
    color: #ccc;
    .amount {
      font-size: 28px;
      font-weight: bold;
      color: #666;
      height: 40px;
    }
    .succ {
      float: left;
      padding: 6px 0;
      width: 50%;
      text-align: center;
    }
    .fail {
      border-left: solid 1px #ddd;
      float: right;
      padding: 6px 0;
      width: 50%;
      text-align: center;
    }
  }
  .flex-pannel {
    max-width: 300px;
  }
}


.monitor-nodes-article {
  .p-info {
    margin: 10px 0;
  }
}

.front-nodes-article {
  margin-bottom: 100px;
  hr {
    margin: 10px 0 20px 0;
  }
  .item-label {
    width: 80px;
    text-align: right;
  }
  span.item-content-span {
      width: 100px;
      text-align: left;
      display: inline-block;
      margin-right: 100px;
  }
  .info-item {
      margin: 10px 0;
  }
  .chart-container {
    border: solid #e6e3e3 1px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    margin: 10px 0 20px 0;
  }
  .chart-time {
    position: absolute;
    right: 40px;
    top: 24px;
    color: #108EE9;
  }
  .chart-ul {
    display: flex;
    margin-top: 30px;
  }
  .chart-li {
    flex: 1;
    padding: 0 20px;
  }
  .chart-li + .chart-li {
    border-left: solid 1px #ccc;
  }
  .chart-item-name {
    color: #ccc;
  }
  .chart-item-amoumt {
    font-size: 28px;
    // font-weight: bold;
    color: #666;
    height: 40px;
    margin-bottom: 20px;
  }
  .chart {
    background-color: #dcdcdc;
    width: 100%;
    height: 200px;
  }
}


