body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
table,
td,
tr,
th {
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
  font-weight: normal;
}
li {
  list-style-type: none;
}
img {
  vertical-align: top;
  border: 0;
}
ol,
ul {
  list-style: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: Arial, 'Times New Roman', SimSun, Sun !important;
  overflow-x: hidden;
  background-color: #fff;
  font-size: 16px;
}
button {
  outline-width: 0;
  border-width: 0;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
ul {
  list-style: none;
}
