.navbar {
  height: 80px;
  background-color: #fff;
  border: none;
  border-bottom: solid 1px #e7e7e7;
  margin-bottom: 0;
}
.navbar-header {
  height: 100%;
}
.navbar-brand {
  line-height: 80px;
  height: 80px;
  padding: 0 20px;
}
.navbar-brand img {
  margin-top: 6px;
}
.navbar-nav li a {
  line-height: 80px;
  height: 80px;
  padding: 0 15px;
}
span.glyphicon.glyphicon-user {
  top: 2px;
  margin-right: 5px;
}
.aside {
  align-items: stretch;
  background-color: #323232;
}
.flex-container {
  display: flex;
  min-height: calc(100vh - 80px);
  min-height: -webkit-calc(100vh - 80px);
}
.dls-alert {
  position: absolute;
  width: 100%;
  bottom: 1px;
  height: 50px;
  border-top: 1px solid #dad9d7;
  margin-left: -20px;
}
.dls-alert p:nth-of-type(1) {
  float: right;
  line-height: 50px;
  padding-right: 40px;
  font-size: 12px;
}
