.order-article .panel-title {
  font-size: 12px;
  text-align: center;
  padding: 4px 0;
}
.order-article .items-inline {
  margin-top: 15px;
}
.order-article .panel-body {
  position: relative;
  color: #ccc;
}
.order-article .panel-body .amount {
  font-size: 28px;
  font-weight: bold;
  color: #666;
}
.order-article .panel-body .succ {
  float: left;
  padding: 6px 0;
  width: 50%;
  text-align: center;
}
.order-article .panel-body .fail {
  border-left: solid 1px #ddd;
  float: right;
  padding: 6px 0;
  width: 50%;
  text-align: center;
}
.monitor-nodes-article .p-info {
  margin: 10px 0;
}
.front-nodes-article {
  margin-bottom: 100px;
}
.front-nodes-article hr {
  margin: 10px 0 20px 0;
}
.front-nodes-article .item-label {
  width: 80px;
  text-align: right;
}
.front-nodes-article span.item-content-span {
  width: 80px;
  text-align: left;
  display: inline-block;
  margin-right: 100px;
}
.front-nodes-article .info-item {
  margin: 10px 0;
}
.front-nodes-article .chart-container {
  border: solid #e6e3e3 1px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  margin: 10px 0 20px 0;
}
.front-nodes-article .chart-time {
  position: absolute;
  right: 40px;
  top: 24px;
  color: #108EE9;
}
.front-nodes-article .chart-ul {
  display: flex;
  margin-top: 30px;
}
.front-nodes-article .chart-li {
  flex: 1;
  padding: 0 20px;
}
.front-nodes-article .chart-li + .chart-li {
  border-left: solid 1px #ccc;
}
.front-nodes-article .chart-item-name {
  color: #ccc;
}
.front-nodes-article .chart-item-amoumt {
  font-size: 28px;
  color: #666;
}
.front-nodes-article .chart {
  background-color: #dcdcdc;
  width: 100%;
  height: 200px;
}
