<article ng-controller="monitorNodesCtrl" class="monitor-nodes-article">
  <header>
    <h3 class="h-title">监控节点维护</h3>
  </header>

  <div class="items-inline" style="min-width: 1140px;">
    <div class="flex-item">
      <span class="item-name" style=" margin-right: 11px">会员编号:</span>
      <select  class="form-control item-content" ng-model="_memId" ng-options="item.mem_id as item.mem_id  for item in memId" >
        <option value="" ng-if="false"></option>
      </select>
    </div>

    <div class="flex-item">
      <span class="item-name">节点类型:</span>
      <select class="form-control item-content" class="edit"  name="_nodeType" ng-model="_nodeType">
          <option value="" selected="">请选择</option>
          <option value="1">需方</option>
          <option value="2">供方</option>
      </select>
    </div>

    <div class="flex-item">
      <span class="item-name">节点编号:</span>
      <!-- <input type="text"  name="demName" class="item-content" placeholder="请输入订单编号" ng-model="demName" required> -->
      <select class="form-control item-content" ng-model="_nodeId" ng-options="item for item in nodeDatas">
        <option value="" ng-if="false">-- 请选择 --</option>
      </select>
      <!-- <select class="form-control item-content" class="edit"  name="add-type" ng-model="svcType">
          <option value="" selected="">请选择</option>
          <option value="1">需方</option>
          <option value="2">供方</option>
      </select> -->
    </div>



  </div>

  <div class="items-inline" style="min-width: 1200px;">
    <div class="flex-item">
      <span class="item-name">节点IP:</span>
      <input type="text"  name="_nodeIp" class="item-content" placeholder="请输入节点IP" ng-model="_nodeIp" required>
    </div>

    <div class="flex-item">
      <span class="item-name">创建时间:</span>
      <date-picker class="item-content" dt="dateStar" mindt="1970, 5, 22"></date-picker> <span class="item-span">~</span> <date-picker class="item-content" dt="dateEnd" mindt="1970, 5, 22"></date-picker>
    </div>

    <div class="flex-item">
      <button class="btn btn-primary btn-small" ng-click="getDatas(true)">搜索</button>
      <button class="btn btn-default btn-small" ng-click="clearSearchDatas()">清除</button>
    </div>

  </div>

  <p class="p-info">共搜索到<span>922</span>条数据</p>
  <div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="glyphicon glyphicon-info-sign"></span> 已选择<span>5</span>项数据。
  </div>

  <div class="app-tab">
    <table class="table table-bordered table-striped">
        <thead>
          <tr class="primary">
            <th></th>
            <th ng-repeat="title in titles">{{title}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in dataList">
            <td><input type="checkbox" ng-model="item.checked"/></td>
            <td>{{item.in_ip}}</td>
            <td>{{item.name}}</td>
            <td>{{item.svc_type | svcTypeFilter}}</td>
            <td>{{item.create_time | appDateFilter : true}}</td>
            <td>{{item.creator}}</td>
            <td>{{item.status | monitorStatusFilter}}</td>
            <td>{{item.update_time | appDateFilter : true}}</td>
            <td>{{item.update_user}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
  </div>
  <pagination  options="pageOptions" cur-page="curPageNum" sum="totalItems"></pagination>

</article>
